---
// Card.astro
export interface Props {
    projectTitle: string;
    projectFrontPage: string;
    projectSkills: string[];
    projectLink: string;
    projectDescription: string;
}
const {
    projectTitle,
    projectFrontPage,
    projectSkills = [],
    projectLink,
    projectDescription,
} = Astro.props as Props;
---

<div
    class="m-0 flex-col rounded-xl shadow-xl dark:bg-gray-900 transition duration-200 p-3"
>
    <a href={projectLink} target="_blank" class="relative z-10 group">
        <img
            src={projectFrontPage}
            class="animate-fade-in block transform object-contain object-top opacity-100 transition duration-200 group-hover:rounded-xl group-hover:scale-110 rounded-xl"
            alt="projectFrontPage"
        />
        <div
            class="absolute opacity-0 transition duration-300 ease-in-out group-hover:scale-110 group-hover:opacity-100 flex items-center justify-center w-full h-full top-0 z-30 bg-indigo-600 bg-opacity-10 rounded-xl"
        >
            <div
                class="flex items-center justify-center text-white font-bold text-3xl"
            >
                <i class="fas fa-external-link-alt"></i>
            </div>
        </div>
    </a>
    <div class="block p-6 rounded-b-md w-full max-sm:p-3">
        <a
            href={projectLink}
            target="_blank"
            class="text-2xl font-bold hover:underline text-gray-900 dark:text-white"
        >
            {projectTitle}
        </a>
        <p class="mt-2 font-normal text-gray-700 dark:text-gray-400">
            {projectDescription}
        </p>
        <div class="flex-col gap-3 mt-3">
            <span class="text-white font-medium">Tecnologías empleadas:</span>
            <div class="flex flex-wrap gap-3 mt-3">
                {
                    projectSkills.map((skill) => (
                        <img class="h-5" src={skill} alt="projectSkill" />
                    ))
                }
            </div>
        </div>
    </div>
</div>
