---
// Card.astro
export interface Props {
    projectTitle: string;
    projectFrontPage: string;
    projectSkills: string[];
    projectSkillsName: string[];
    projectLink: string;
    projectDescription: string;
}
const {
    projectTitle,
    projectFrontPage,
    projectSkills = [],
    projectSkillsName = [],
    projectLink,
    projectDescription,
} = Astro.props as Props;
---

<div
    class="m-0 flex flex-col rounded-xl shadow-xl dark:bg-gray-900 transition duration-200 p-4"
>
    <a href={projectLink} target="_blank" class="relative z-10 group">
        <img
            src={projectFrontPage}
            class="animate-fade-in block transform object-contain object-top opacity-100 transition duration-200 group-hover:rounded-xl group-hover:scale-110 rounded-xl"
            alt="projectFrontPage"
        />
        <div
            class="absolute opacity-0 transition duration-300 ease-in-out group-hover:scale-110 group-hover:opacity-100 flex items-center justify-center w-full h-full top-0 z-30 bg-indigo-600 bg-opacity-10 rounded-xl"
        >
            <div
                class="flex items-center justify-center text-white font-bold text-3xl"
            >
                <i class="fas fa-external-link-alt"></i>
            </div>
        </div>
    </a>
    <div class="flex flex-col justify-between py-4 px-2 rounded-b-md w-full h-full">
        <div>
            <a
                href={projectLink}
                target="_blank"
                class="text-2xl font-bold hover:underline text-gray-900 dark:text-white"
            >
                {projectTitle}
            </a>
            <p class="mt-2 font-normal text-gray-400">
                {projectDescription}
            </p>
        </div>
        <div class="flex flex-col mt-3">
            <span class="text-white font-medium">Tecnologías empleadas:</span>
            <div class="flex flex-wrap gap-3 mt-3">
                {
                    projectSkills.map((skill, index) => (
                        <button class="flex items-center max-sm:flex-1 gap-x-2 rounded-md px-4 py-1.5 bg-indigo-800 hover:bg-indigo-700 transition shadow">
                            <img class="h-4" src={skill} alt={`${projectSkillsName[index]}-logo`} />
                            <span class="text-white font-medium text-sm truncate">{projectSkillsName[index]}</span>
                        </button>
                    ))
                }
            </div>
        </div>
    </div>
</div>
